<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PiktochartTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DCED251C1C61D2BC00D77017</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCED25381C61D2BD00D77017</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCED25431C61D2BD00D77017</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
